:root{
    --azul-gradiente-text: linear-gradient(180deg, #00DDFF, #1A22EB);
    --azul-gradiente-bootom: linear-gradient(90deg, #00DDFF, #1A22EB);
    --bgservices: linear-gradient(to top, #012, #346);
    --aliceblue: #F0F8FF;
    --azul-claro-oscuro: #334565;
    --azul-oscuro: #00022E;
    --azul-claro: #0AF;
    --verde-claro: #1AAE67;
    --blanco: #FFF;
    --negro: #000;
    --azul: #00F;
    --gris-claro: #FFF5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 16px;
    font-family: inter;
}
/* menu principal */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}
.nav__logo{
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav__logo h1{
    background-clip: var(--azul-gradiente-text);
    background: var(--azul-gradiente-text);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 26px;
}
.nav__link{
    color: var(--negro);
    font-size: 24px;
}
.nav__link:hover{
    color: var(--azul);
    border-bottom: 3px solid var(--azul);
    transition: color .05s, border-bottom .05s;
}
.link-active{
    color: var(--azul);
    border-bottom: 3px solid var(--azul);
}
#menu-abrir, #menu-cerrar{
    display: none;
    cursor: pointer;
}
/* seccion principal */
#main-index{
    background-color: var(--aliceblue);
    padding: 54px 50px;
    display: flex;
    align-items: center;
    height: 90vh;
}
.main-index__img{
    width: 100%;
    height: 100%;
}
.main-index__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.main-index__content h1{
    font-size: 64px;
    margin-bottom: 30px;
    font-weight: 600;
    text-wrap: balance;
}
.main-index__content p{
    font-size: 32px;
    margin-bottom: 30px;
    text-wrap: balance;
    font-weight: 300;
}
.buttom{
    border: none;
    display: inline-block;
    padding: 15px 30px;
    background: var(--azul-gradiente-bootom);
    color: var(--blanco);
    font-size: 24px;
}
.buttom:hover{
    opacity: .8;
    transition: opacity .08s;
}
/* seccion de informacion */
#section-informacion{
    padding: 50px;
    background: var(--azul-oscuro);
    color: var(--blanco);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
#section-informacion h2{
    font-size: 64px;
    font-weight: 500;
}
#section-informacion .buttom{
    padding: 15px 45px;
}
.section__tipo-de-analisis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.tipo-analisis-cont{
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tipo-analisis-cont p{
    font-size: 24px;
    text-wrap: balance;
}
.section__basico-encabezado{
    display: flex;
}
.analisis-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}
.analisis-cont h3{
    font-size: 40px;
    font-weight: 400;
}
#section-informacion a button{
    cursor: pointer;
}
/* seccion de enfermedades cumunes */
#section__enfermedades-comunes {
    width: 100%;
    height: 100%;
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section__enfermedades-comunes h2{
    font-size: 64px;
    margin-bottom: 30px;
}
#section__enfermedades-comunes a span{
    font-size: 32px;
    color: var(--azul-claro-oscuro);
    font-weight: 700;
}

.section__enfermedades-cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}
.section__enfermedades-cards{
    position: relative;
    max-width: 360px;
    min-width: 335px;
    height: 250px;
}
.section__enfermedades-cards .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}
.section__enfermedades-cards .front{
    transform: perspective(600px)rotateY(0deg);
}
.section__enfermedades-cards .front img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section__enfermedades-cards .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    background-color: var(--gris-claro);
    color: var(--azul-claro-oscuro);
}
.section__enfermedades-cards .back{
    transform: perspective(600px) rotateY(180deg);
    background: var(--azul-claro-oscuro);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    padding: 15px 25px;
    height: 100%;
}
.section__enfermedades-cards .back h3{
    width: 100%;
    text-align: center; 
    font-size: 24px;
}
.section__enfermedades-cards .back a button{
    border: none;
    width: 100%;
    padding: 8px 15px;
    color: var(--azul-claro-oscuro);
    font-weight: 700;
    cursor: pointer;
}
.section__enfermedades-cards .back a button:hover{
    opacity: .9;
}
.section__enfermedades-cards:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.section__enfermedades-cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/* seccion de contacto */
.section-contacto__container{
    background: var(--azul-claro);
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--blanco);
    padding: 25px;
    box-shadow: 0 0 5px var(--gris-claro);
    position: relative;
    top: 45px;
}
.contacto-cont{
    display: flex;
    align-items: center;
}

.contacto__icon-img{
    width: 40px;
    margin-right: 10px;
    background: var(--bgservices);
    border-radius: 50%;
    padding: 10px;
}
/* footer  */
#footer{
    width: 100%;
    height: 60vh;
    background: var(--azul-oscuro);
    color: var(--blanco);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}
.footer__content{
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.footer__content-bloques{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__content-bloques h3{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}
.footer__nosotros p{
    text-wrap: balance;
    max-width: 500px;
    padding-right: 20px;
}
.footer__suscibete input{
    border: none;
    padding: 5px 25px 5px 10px;
    margin: 5px 0 15px 0;
    max-width: 350px;
}
.footer__suscibete a button{
    border: none;
    padding: 8px 20px;
    color: var(--blanco);
    font-size: 20px;
    background: var(--verde-claro);
}
.footer__suscibete a button:hover{
    opacity: .9;
    cursor: pointer;
}
.footer__derechos-reservados{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid var(--blanco);
    padding: 10px 0 40px 0;
}
.footer__derechos-reservados p{
    text-align: center;
    max-width: 500px;
}
.footer__content-parrafos li{
    padding: 2px 0;
}
