:root {
    --azul-gradiente-text: linear-gradient(180deg, #00DDFF, #1A22EB);
    --azul-gradiente-bootom: linear-gradient(90deg, #00DDFF, #1A22EB);
    --bgservices: linear-gradient(to top, #012, #346);
    --aliceblue: #F0F8FF;
    --azul-claro-oscuro: #334565;
    --azul-oscuro: #00022E;
    --azul-claro: #0AF;
    --verde-claro: #1AAE67;
    --blanco: #FFF;
    --negro: #000;
    --azul: #00F;
    --gris-claro: #FFF5;
}

/*Seccion de analisis basico*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 50px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.options {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.disen{
    width: 100%;
    display: flex;
    justify-content: left;
}
.disen table, th{
    outline: 1px solid #000;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-options.active {
    display: block;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.selected-options {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-symptom {
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.selected-symptom .close-btn {
    margin-left: 10px;
    cursor: pointer;
}

#capture-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 7px;
    border-radius: 5px;
    background: #00DDFF;
}

#capture-btn img {
    height: 30px;
}

#diagnose-btn {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    padding: 8px 20px;
    color: var(--blanco);
    font-size: 20px;
    background: var(--verde-claro);
    cursor: pointer;
}

/* seccion de subir archivos */
#drop-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--aliceblue);
    width: 100%;
    min-height: 70vh;
    padding: 50px 0;
}

.drop-area__content {
    padding: 25px 50px;
    background-color: var(--blanco);
    border-radius: 5px;
    border: 3px dashed #0004;
    min-width: 350px;
    width: 50%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#drop-area-container .active {
    background-color: #b8d4fe;
    border: 3px dashed #0004;
}

.drop-area__content h2 {
    font-size: 2rem;
}

.drop-area__content span {
    font-size: 1.5rem;
    font-weight: 600;
}

.drop-area__content .buttom {
    cursor: pointer;
}

#section-contacto {
    background-color: var(--aliceblue);
    margin-top: -40px;
}

#drop-area-container__preview {
    margin-top: 10px;
    padding: 25px 50px;
}

.status-text {
    padding: 0 10px;
}

.success {
    color: var(--verde-claro);
}

.failure {
    color: #f00;
}
