<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/catalogo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/basico.css') }}">
    <title>Diagnostic Care</title>
</head>
<body>
    <!-- Creando el encabezado -->
    <header id="header">
        <!-- Creando el menu de navegacion -->
        <nav id="nav">
            <a href="{{ url_for('index') }}">
                <div class="nav__logo">
                    <img src="{{ url_for('static', filename='imagenes/logo-3.svg') }}" alt="img-logo">
                    <h1>Diagnostic <br>Care</h1>
                </div>
            </a>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <ul class="nav__menu">
                <i class="fa-solid fa-xmark" id="menu-cerrar"></i>
                <li class="nav__list"><a href="{{ url_for('index') }}" class="nav__link link-active">Inicio</a></li>
                <li class="nav__list"><a href="{{ url_for('basico') }}" class="nav__link">Análisis</a></li>
                <li class="nav__list"><a href="{{ url_for('catalogo') }}" class="nav__link">Catálogo</a></li>
                <li class="nav__list"><a href="{{ url_for('informacion') }}" class="nav__link">Información</a></li>
            </ul>
        </nav>
        <!-- Creando el main-index -->
        <main id="main-index">
            <div class="main-index__content">
                <h1>Diagnóstico de enfermedades al alcance de tu mano</h1>
                <p>Introduce tus síntomas y recibe un diagnóstico probable en minutos</p>
                <a href="{{ url_for('basico') }}">
                    <button class="button">Empieza ahora</button>
                </a>
            </div>
            <figure class="main-index__img"><img src="{{ url_for('static', filename='imagenes/img-hero.png') }}" alt="img-main-index"></figure>
        </main>
    </header>
    <!-- Sección de información -->
    <section id="section-informacion">
        <h2>Información</h2>
        <div class="section__tipo-de-analisis">
            <div class="section__analisis-basico tipo-analisis-cont">
                <div class="section__basico-encabezado analisis-cont">
                    <img src="{{ url_for('static', filename='imagenes/img-titulo.png') }}" alt="img-basico">
                    <h3>Análisis básico</h3>
                </div>
                <p>Nuestro análisis básico le permite ingresar sus síntomas de forma sencilla y rápida. Una vez ingresados, le proporcionaremos los resultados en forma de gráficos fáciles de entender, además de información adicional para que pueda comprender mejor su condición de salud.</p>
            </div>
            <div class="section__analisis-profundo tipo-analisis-cont">
                <div class="section__profundo-encabezado analisis-cont">
                    <img src="{{ url_for('static', filename='imagenes/img-titulo.png') }}" alt="img-profundo">
                    <h3>Análisis profundo</h3>
                </div>
                <p>Nuestro análisis práctico es una herramienta avanzada que le brinda la opción de completar un formulario detallado con información como edad, sexo y otros datos relevantes. Esta recopilación exhaustiva de información nos permite ofrecerle resultados más precisos y personalizados para mejorar su experiencia y comprensión de su estado de salud.</p>
            </div>
        </div>
        <a href="{{ url_for('basico') }}">
            <button class="button">Empieza ahora</button>
        </a>
    </section>
    <!-- seccion de enfermedades comunes -->
    <section id="section__enfermedades-comunes">
        <h2>Enfermedades comunes</h2>
        <div class="section__enfermedades-cards-content">
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/resfriado.png') }}" alt="img-resfriado">
                    <h3>Resfriado</h3>
                </div>
                <div class="face back">
                    <h3>Resfriado</h3>
                    <p>El resfriado es una infección viral común que afecta el tracto respiratorio superior, causando síntomas como congestión nasal, estornudos, dolor de garganta y tos leve. Aunque suele ser leve y autolimitado, puede causar molestias significativas durante varios días y es altamente contagioso entre personas.</p>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/gripe.png') }}" alt="img-gripe">
                    <h3>Gripe</h3>
                </div>
                <div class="face back">
                    <h3>Gripe</h3>
                    <p>La gripe es una enfermedad viral contagiosa que afecta las vías respiratorias superiores, causando síntomas como fiebre, dolor de cabeza, dolores musculares y fatiga extrema. Puede provocar complicaciones graves, especialmente en personas de riesgo como niños pequeños, adultos mayores o personas con enfermedades crónicas.</p>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/migrana.jpg') }}" alt="img-migrana">
                    <h3>Migraña</h3>
                </div>
                <div class="face back">
                    <h3>Migraña</h3>
                    <p>La migraña es un tipo de dolor de cabeza intenso y pulsátil que puede estar acompañado de náuseas, vómitos, y sensibilidad extrema a la luz y al sonido. Suele afectar a un lado de la cabeza y puede durar horas o incluso días, afectando significativamente la calidad de vida de quienes la padecen.</p>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/gastritis.png') }}" alt="img-gastritis">
                    <h3>Gastritis</h3>
                </div>
                <div class="face back">
                    <h3>Gastritis</h3>
                    <p>La gastritis es una inflamación del revestimiento del estómago, generalmente causada por infecciones bacterianas, uso excesivo de medicamentos como el ibuprofeno, estrés o consumo excesivo de alcohol. Los síntomas incluyen dolor abdominal, náuseas, vómitos y sensación de ardor en el estómago.</p>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/asma.png') }}" alt="img-asma">
                    <h3>Asma</h3>
                </div>
                <div class="face back">
                    <h3>Asma</h3>
                    <p>El asma es una enfermedad crónica de las vías respiratorias que causa inflamación y estrechamiento, dificultando la respiración. Los síntomas incluyen sibilancias, opresión en el pecho, tos y dificultad para respirar, a menudo desencadenados por alergenos o factores ambientales.</p>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/diabetes.png') }}" alt="img-diabetes">
                    <h3>Diabetes</h3>
                </div>
                <div class="face back">
                    <h3>Diabetes</h3>
                    <p>La diabetes es una enfermedad crónica caracterizada por niveles elevados de glucosa en la sangre debido a la incapacidad del cuerpo para producir o utilizar adecuadamente la insulina. Esto puede resultar en complicaciones graves a largo plazo, afectando diversos órganos y sistemas del cuerpo.</p>
                </div>
            </div>
        </div>
        <div class="section__pagination">
            <span><i class="fa-solid fa-chevron-left"></i></span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
        </section>

    <!-- Sección de contacto -->
    <section id="section-contacto">
        <div class="section-contacto__container">
            <h3>Contact Us</h3>
            <div class="contacto__info-tel contacto-cont">
                <img src="{{ url_for('static', filename='imagenes/telefono.png') }}" alt="img-tel" class="contacto__icon-img">
                <div class="info-tel__content inf-content">
                    <h4>Número de Teléfono</h4>
                    <p>849-655-7463</p>
                </div>
            </div>
            <div class="contacto__info-email contacto-cont">
                <img src="{{ url_for('static', filename='imagenes/email.png') }}" alt="img-email" class="contacto__icon-img">
                <div class="info-email__content inf-content">
                    <h4>Correo Electrónico</h4>
                    <p>mathewmiller919@gmail.com</p>
                </div>
            </div>
            <div class="contacto__info-direc contacto-cont">
                <img src="{{ url_for('static', filename='imagenes/mapa.png') }}" alt="img-direc" class="contacto__icon-img">
                <div class="info-direc__content inf-content">
                    <h4>Dirección</h4>
                    <p>Av. Tiradentes, Santo Domingo</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="footer__content">
            <div class="footer__nosotros footer__content-bloques">
                <h3>Nosotros</h3>
                <p>Diagnostic Care combina tecnología avanzada y conocimientos médicos para ofrecer diagnósticos preliminares precisos. Mejoramos el acceso a la atención médica, brindando herramientas para evaluar síntomas y recibir orientación desde casa.</p>
            </div>
            <div class="footer__servicios footer__content-bloques">
                <h3>Servicios</h3>
                <ul class="footer__content-parrafos">
                    <li>Diagnósticos rápidos</li>
                    <li>Análisis avanzado</li>
                    <li>Consulta de enfermedades</li>
                    <li>Registro de síntomas</li>
                    <li>Tratamientos recomendados</li>
                    <li>Integración de recetas</li>
                </ul>
            </div>
            <div class="footer__importante footer__content-bloques">
                <h3>Importante</h3>
                <ul class="footer__content-parrafos">
                    <li>Seguridad de datos</li>
                    <li>Privacidad</li>
                    <li>Accesibilidad</li>
                    <li>Fiabilidad</li>
                    <li>Innovación médica</li>
                    <li>Soporte técnico</li>
                </ul>
            </div>
            <div class="footer__suscibete footer__content-bloques">
                <h3>Suscribete</h3>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="Enter email">
                <a href="#"><button>Suscribete</button></a>
            </div>
        </div>
        <div class="footer__derechos-reservados">
            <p>Todos los derechos reservados por NEUROTRONIX © 2024 SAMSUNG INNOVATION CAMPUS </p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/06f32376e9.js" crossorigin="anonymous"></script>
</body>
</html>
