<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/informacion.css') }}">
    <title>Diagnostic Care</title>
</head>
<body>
    <!-- Creando el encabezado -->
    <header id="header">
        <!-- Creando el menu de navegacion -->
        <nav id="nav">
            <a href="{{ url_for('index') }}">
                <div class="nav__logo">
                    <img src="{{ url_for('static', filename='Imagenes/Logo-3.svg') }}" alt="img-logo">
                    <h1>Diagnostic <br> Care</h1>
                </div>
            </a>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <ul class="nav__menu">
                <i class="fa-solid fa-xmark" id="menu-cerrar"></i>
                <li class="nav__list"><a href="{{ url_for('index') }}" class="nav__link">Inicio</a></li>
                <li class="nav__list"><a href="{{ url_for('analisis') }}" class="nav__link">Análisis</a></li>
                <li class="nav__list"><a href="{{ url_for('catalogo') }}" class="nav__link">Catálogo</a></li>
                <li class="nav__list"><a href="{{ url_for('informacion') }}" class="nav__link link-active">Información</a></li>
            </ul>
        </nav>
        <!-- Creando el main-informacion -->
        <main id="main-informacion">
            <div class="main-informacion__encabezado">
                <h1>Recibe un pronóstico básico de enfermedades en segundos</h1>
                <a href="{{ url_for('analisis') }}"><button class="button">Recibir</button></a>
            </div>
            <div class="main-informacion__container">
                <div class="main-informacion__slider">
                    <input type="radio" name="slider" id="sliderone" checked>
                    <input type="radio" name="slider" id="slidertwo">
                    <input type="radio" name="slider" id="sliderthree">
                    <div class="main-informacion__slider-buttons">
                        <label for="sliderone"></label>
                        <label for="slidertwo"></label>
                        <label for="sliderthree"></label>
                    </div>
                    <div class="main-informacion__content">
                        <div class="firstslider"></div>
                        <div class="secondslider"></div>
                        <div class="thirdslider"></div>
                    </div>
                </div>
            </div>
        </main>
    </header>
    <!-- Sección de enfermedades comunes -->
    <section id="section__enfermedades-comunes">
        <h2>Enfermedades comunes de la temporada</h2>
        <div class="section__enfermedades-cards-content">
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/resfriado.png') }}" alt="img-resfriado">
                    <h3>Resfriado</h3>
                </div>
                <div class="face back">
                    <h3>Resfriado</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
            <!-- Repita el bloque anterior para cada enfermedad -->
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/gripe.png') }}" alt="img-gripe">
                    <h3>Gripe</h3>
                </div>
                <div class="face back">
                    <h3>Gripe</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/migraña.png') }}" alt="img-migraña">
                    <h3>Migraña</h3>
                </div>
                <div class="face back">
                    <h3>Migraña</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/gastritis.png') }}" alt="img-gastritis">
                    <h3>Gastritis</h3>
                </div>
                <div class="face back">
                    <h3>Gastritis</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/asma.png') }}" alt="img-asma">
                    <h3>Asma</h3>
                </div>
                <div class="face back">
                    <h3>Asma</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
            <div class="section__enfermedades-cards">
                <div class="face front">
                    <img src="{{ url_for('static', filename='Imagenes/diabetes.png') }}" alt="img-diabetes">
                    <h3>Diabetes</h3>
                </div>
                <div class="face back">
                    <h3>Diabetes</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium provident debitis blanditiis eum consectetur. Vero nisi laboriosam officiis iste ratione earum maiores. Dignissimos and provident architecto, debitis expedita temporibus.</p>
                    <a href="{{ url_for('analisis') }}"><button>Consultar</button></a>
                </div>
            </div>
        </div>
        <a href="{{ url_for('catalogo') }}"><span>Ver más</span></a>
    </section>
    <!-- Sección de recomendaciones y consejos -->
    <section id="section__recomendaciones">
        <div class="section__recomendaciones-content">
            <h2>Recomendaciones y consejos</h2>
            <p>Gracias por preferirnos, valoramos sus recomendaciones y consejos de salud para tener un mejor estilo de vida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum urna massa. Donec eu pulvinar tortor. Pellentesque ornare feugiat ex eget suscipit.</p>
            <a href="{{ url_for('informacion') }}"><span>Ver más</span></a>
        </div>
        <div class="section__recomendaciones-img">
            <img src="{{ url_for('static', filename='Imagenes/Recommendations.svg') }}" alt="img-recomendations">
        </div>
    </section>
    <!-- Creando el pie de página -->
    <footer id="footer">
        <div class="footer__logo">
            <img src="{{ url_for('static', filename='Imagenes/Logo-3.svg') }}" alt="img-logo">
            <h1>Diagnostic <br> Care</h1>
        </div>
        <ul class="footer__menu">
            <li class="footer__list"><a href="{{ url_for('index') }}" class="footer__link">Inicio</a></li>
            <li class="footer__list"><a href="{{ url_for('analisis') }}" class="footer__link">Análisis</a></li>
            <li class="footer__list"><a href="{{ url_for('catalogo') }}" class="footer__link">Catálogo</a></li>
            <li class="footer__list"><a href="{{ url_for('informacion') }}" class="footer__link link-active">Información</a></li>
        </ul>
        <ul class="footer__social">
            <li class="footer__list"><a href="https://www.facebook.com" class="footer__link" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="footer__list"><a href="https://www.instagram.com" class="footer__link" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="footer__list"><a href="https://www.twitter.com" class="footer__link" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="footer__list"><a href="https://www.linkedin.com" class="footer__link" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </footer>
    <!-- Añadiendo scripts -->
    <script src="{{ url_for('static', filename='Js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/informacion.js') }}"></script>
    <script src="https://kit.fontawesome.com/6f510e8a23.js" crossorigin="anonymous"></script>
</body>
</html>
